* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-bicol,
.container-burger,
.container-wings {
	text-align: justify;
}

.container-index {
	font-size: 18px;
	text-align: center;
}

.description {
	display: inline-block;
	text-align: justify;
}

ul,
ol {
	display: inline-block;
	text-align: justify;
}
