* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	max-width: 800px;
	margin: 0 auto;
}

.container-bicol,
.container-burger,
.container-wings {
	text-align: center;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
	opacity: 85%;
}

img {
	width: 50%;
	height: auto;
}

.container-bicol a,
.container-burger a,
.container-wings a {
	display: inline-block;
	height: 50px;
	margin-right: 5px;
}

.container-bicol h2,
.container-burger h2,
.container-wings h2 {
	margin: 30px 0;
}

.container-index {
	font-size: 18px;
	text-align: center;
	padding: 50px;
	height: 100%;
	width: 70%;
	background-color: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	margin-top: 30px;
}

.container-index h2 {
	margin-top: 250px;
}

.container-index ul {
	display: inline-block;
	text-align: justify;
}

.index-list {
	text-align: justify;
}

.description {
	display: inline-block;
	text-align: justify;
}

ul,
ol {
	text-align: justify;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
